<div style="margin-top: 2rem;"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="filteredStatus" placeholder="Filter..." />
      </div>
    </div>
    <button class="btn btn-primary btn-sm" (click)="onAddServer()">Add New Server</button>
    <br><br>
    <h2>App status: {{ appStatus | async }}</h2>
    <hr>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:50 }}</strong> |
          {{ server.instanceType | uppercase | shorten:5:6 }} |
<!--          {{ server.started | date:'dd/MM/yyyy' }}-->
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
